<!-- Initialize current chapter and section numbers. -->
{% if currentchapter != section.chapter %}
  {% assign currentsection = 1 %}
{% endif %}

<!-- Check if the section number has changed within the same chapter and if it's not the first loop. If so, end the unordered list and reset the left-margin indent for section/subsection lists. -->
{% if currentsection != section.section and forloop.index != 1 %}
  </ul>
{% endif %}

<!-- Check if the chapter number has changed and if it's not the first loop. If so, close the div to outdent. -->
{% if currentchapter != section.chapter and forloop.index != 1 %}
  </div>
{% endif %}

<!-- If the chapter number has changed, print the chapter header. -->
{% if currentchapter != section.chapter %}
  {% if page.chapter %}
  {% else %}
    <h3 class="accentbg" id="{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}">
    Chapter {{ section.chapter }}: {{ section.title }}</h3>
    <div style="margin-left: 30px;">
  {% endif %}
{% endif %}

<!-- If the section number has changed, print the section header. -->
{% if currentsection != section.section and section.section > 0 %}
  <h4 id="{{ section.chapter }}.{{ section.section }}">Section {{ section.chapter }}.{{ section.section }}: {{ section.title }}</h4>
  <ul style="margin-left:30px; display:block;">
{% endif %}

<!-- If there is no page.subsection value, this is the dissertation ToC. Print the section/subsection title and link. -->
{% unless page.subsection %}
{% if section.subsection > 0  %}
  <li><a id="{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}" href="{{ site.baseurl }}{{ section.url }}">{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}: {{ section.title }}</a></li>
{% endif %}
{% endunless %}

<!-- If there *is* a page.subsection value, this is a section ToC. Print the section/subsection number only and link with a pipe delimiter for visual division. -->
{% if page.subsection %}
  {% if currentsection == section.section %} | {% endif %}
  {% if page.chapter == section.chapter and page.section == section.section and page.subsection == section.subsection %}
    <strong>{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}</strong>
  {% else %}
	{% if section.subsection > 0  %}
    <a id="{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}" href="{{ site.baseurl }}{{ section.url }}">{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}</a>
  	{% endif %}
  {% endif %}
{% endif %}

<!-- Update current chapter and section numbers for the next loop. -->
{% assign currentsubsection = section.subsection %}
{% assign currentsection = section.section %}
{% assign currentchapter = section.chapter %}
