{% for chapterloop in site.dissertation %}
{% if chapterloop.section == "0" %}
{% if chapterloop.subsection == "0" %}
<h2><a href="{{ site.baseurl }}/dissertation/{{ chapterloop.chapter }}_{{ chapterloop.section }}_{{ chapterloop.subsection }}">{{ chapterloop.sectiontitle }}</a></h2>
{% assign chapnumber = chapterloop.chapter %}
{% for sectionloop in site.dissertation %}
{% if sectionloop.chapter == chapnumber %}
{% if sectionloop.subsection == "0" %}
{% if sectionloop.section != "0" %}
<h5>{{ sectionloop.sectiontitle }}</h5>
{% endif %}{% endif %}
{% if sectionloop.subsection != "0" %}
{% if sectionloop.subsection != "1" %} | {% endif %}<a href="{{ site.baseurl }}/dissertation/{{ sectionloop.chapter }}_{{ sectionloop.section }}_{{ sectionloop.subsection }}">{{ sectionloop.chapter }}.{{ sectionloop.section }}.{{ sectionloop.subsection }}</a>{% endif %}{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
<h2><a href="{{ site.baseurl }}/dissertation/index">Index</a></h2>