/** =================================
Opacity Control for Redaction Purposes
================================= **/

.opaque-lines {
	opacity: 1; /* Set initial opacity for partial view */
}

.toggle-button {
	padding: 8px 12px;
	margin:5px;
	border-radius: 4px;
	cursor: pointer;
	width:80%;
	border: 2px solid $dark-bg;
}

.toggle-button:hover {
	  background-color: $dark-bg;
	  color: $accent-bg;
	  cursor: pointer;
	}

.selected {
  background-color: $dark-bg;
  color: $main-bg;
}
