/** == MARIGOLD AND GREY Color Palette
<palette>
  <color name="Black Coffee" hex="37323e" r="55" g="50" b="62" />
  <color name="celadon" hex="de9e36" r="222" g="158" b="54" />
  <color name="dark-green" hex="eceaec" r="236" g="234" b="236" />
  <color name="Gold Metallic" hex="deb841" r="222" g="184" b="65" />
  <color name="Old Lavender" hex="6d6a75" r="109" g="106" b="117" />
</palette>

<!-- Coolors Palette Widget -->
      <script src="https://coolors.co/palette-widget/widget.js"></script>
      <script data-id="07366380829562946">new CoolorsPaletteWidget("07366380829562946", ["37323e","de9e36","eceaec","deb841","6d6a75"]); </script>
**/

/* SCSS HEX */

$harvest-gold: #cd9300ff;
$floral-white: #F8F4EC;
$flax: #E5D089;
$dark-green: #031D0B;
$black: #000000;

/** main color scheme **/
$main-text-color: $black;
$main-bg: $floral-white;
$main-link: $dark-green;
$main-link-hover: $harvest-gold;
$main-headers: $harvest-gold;

/** dark-background color scheme **/
$dark-text-color: $black;
$dark-bg: $dark-green;
$dark-link: $flax;
$dark-link-hover: $harvest-gold;
$dark-headers: $harvest-gold;

/** accent-background color scheme **/
$accent-text-color: $dark-green;
$accent-bg: $flax;
$accent-link: $black;
$accent-link-hover: $harvest-gold;
$accent-headers: $black;