---
layout: default
format: page
---

<div class="darkbg" style="margin-top:-10px;">
<div class="grid-container">
<h4 class="center">{{ page.subheadline }}</h4>
<h1 class="sans center">{{ page.title }}</h1>
</div>
</div>

<div class="toggle-buttons">
<button class="toggle-button active" onclick="toggleOpacity('partial')">Partial</button>
<button class="toggle-button" onclick="toggleOpacity('opaque')">Opaque</button>
<button class="toggle-button" onclick="toggleOpacity('non-opaque')">Non-Opaque</button>
</div>

<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">
			<!--page start-->
			{{ content }}
			<!--page end-->
		</div>
	</div>
</div>