---
layout: page
format: tableofcontents
---

<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="large-6 cell">
<!-- ABSTRACT, ETC., FROM /pages/dissertation.md -->
		{{content}}
		</div>
		<div class="large-6 cell">

<!-- TABLE OF CONTENTS -->
<!-- For each section MD file in the dissertation folder -->
{% for section in site.dissertation %}

{% if currentchapter != section.chapter %}
<!-- Reset section numbering within each chapter for the sake of a consistent forloop -->
{% assign currentsection = 1 %}
{% endif %}

{% if currentsection != section.section and forloop.index != 1 %}
<!-- Check to see what the current section number is, and make sure it's not the first loop. If not, end the unnumbered list and the indent that sets a left-margin indent for section/subsection bullet point lists -->
</ul>
{% endif %}
{% if currentchapter != section.chapter and forloop.index != 1 %}
<!-- Check to see what the current chapter number is, and make sure it's not the first loop. If not, outdent for the div -->
</div>
{% endif %}


{% if currentchapter != section.chapter %}
<!-- If the current chapter is a new chapter number, print a header with that chapter number and title -->
<h3 class="accentbg" id="{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}">Chapter {{ section.chapter }}: {{ section.title }}</h3>
<div style="margin-left: 30px;">
{% endif %}

{% if currentsection != section.section %}
<!-- If the current section is a new section number, print a header with that section number and title -->
<h4 id="{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}"><a href="{{ site.baseurl }}{{ section.url }}">{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}: {{ section.title }}</a></h4>
<ul style="margin-left:30px; display:block;">
{% endif %}

{% if currentsection == section.section and currentchapter == section.chapter %}
<!-- Otherwise, print the section/subsection information and a link -->
<li><a id="{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}" href="{{ site.baseurl }}{{ section.url }}">{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}: {{ section.title }}</a></li>
{% endif %}

<!-- Set currentchapter and currentsection to the current loop so that the next loop has a comparison point -->
{% assign currentsection = section.section %}
{% assign currentchapter = section.chapter %}
{% endfor %}

</div>

		</div>
	</div>
</div>



